<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task 2</title>
</head>

<body>
    <a href="C:\Users\User\Documents\JavaScript.bc\Jauns.projekts\jauns.projekts\vienradzhi.rullee.html">
        <--Back to unicorn land</a>
            <h1>Smth about unicorns</h1>
            <form action="" method="POST">
                <div>
                    <label for="Task-name-input-field"> Task name:</label>
                    <div>
                        <input type="Task-name" id="task-name-input-field" placeholder="Where is it?"
                            name="task-name">
                    </div>
                </div>
                <div>
                    <label for="comment-text">A plan for finding Neverland:</label>
                </div>
                <div>
                    <textarea id="comment-text" cols="30" rows="10" name="comment">
        </textarea>
                </div>
                <div>
                    <input type="hidden" name="checkbox" value="0">
                    <input type="checkbox" id="agree-checkbox" value="1">
                    <label for="agree-checkbox">Do you want to check?</label>
                </div>
    
                <div>
                    <label for="Unicorns-select"> Category</label>
                    <div>
                        <select name="Unicorns-select" id="Unicorns-select">
                            <option value=""> pick one </option>
                            <option value="u1"> vienradzis</option>
                            <option value="u2"> pegradzis </option>
                            <option value="u2"> pegazs </option>
                        </select>
                    </div>
                    <input type="submit" value="see rainbow">
                </div>

            </form>
           
</body>

</html>